.skills-main-div {
  display: flex;
  margin-right: 40px;
}

.skills-text-div {
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.2;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > img {
  width: 100%;
  height: auto;
  border-radius: 100px;
}
.skills-image-div > img:hover{
  transform: scale(1.05);
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}
.subTitle {
  color: #868e96;
}

.skills-text-subtitle{
  font-family: Helvetica, sans-serif;
  font-size: 27px;
}

.skills-text{
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.2;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    display: inline-grid;
    margin: auto auto;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    text-align: center;
  }
  .skills-image-div {
    display: grid;
    order: 2;
    margin: auto auto;
  }
}
