.meter {
    height: 20px;
    position: relative;
    background: rgb(243, 239, 239);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #512aa3;
    position: relative;
    overflow: hidden;
}
.skill{
    line-height: 1.5vw;
}
.skill-bars{
    font-size: 28px;
    width: 40%;
}

.skills-heading{
  position: relative;
  display: flex;
  width: 90%;
  padding: 20px 20px;
  margin: 0px auto;
}

.skills-container {
    display: flex;
    width: 89%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 2rem;
    position: relative;
    background-color: inherit;
    box-shadow: rgba(0, 0, 0, 0.2) 20px 10px 20px -10px;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.397);
}

.skills-container > * {
    flex: 1;
    margin-bottom: 30px;
}

.skills-image > img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}

.skills-image > img:hover {
   transform: scale(1.2);
}

/* Media Query */

@media (max-width: 1456px) {
    .skills-bar {
        line-height: 4rem;
    }
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column
    }
    .skills-bar {
        line-height: 3rem;
        margin: 20px;
    }
    .skills-image {
        display: grid;
        order: 2;
    }
}
